.browser-not-supported-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 50px 0;
    a,
    a:active,
    a:visited,
    a:focus {
      color: #fff;
      text-decoration: underline;
    }
    .main-logo-white {
      img {
        width: 224px;
      }
    }
    .message,
    .action-bar {
      padding: 30px 25px;
      text-align: center;
    }
  }

  .spinner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.bp3-portal {
  .bp3-alert.iosAlert {
    max-width: calc(100% - 25px);
    width: 355px;

    .bp3-alert-contents {
      margin-top: 10px;
    }

    .bp3-alert-contents .message-content,
    .bp3-alert-contents .message-header {
      font-weight: normal;
      color: #464646;
      line-height: 1.1;
    }

    .bp3-alert-contents .message-content {
      font-size: 16px;
      padding-top: 12px;
    }

    .bp3-alert-footer {
      margin-top: 0;

      button.bp3-button {
        font-size: 16px;
        background-color: #666666;
        width: 120px;
        display: flex;
      }
    }
  }
}
