.recorder-status-container {
  margin: 0;
  padding: 0;
  .recorder-status-icon {
    width: 24px;
    height: 24px;
    background: url("../../assets/images/indicators/recording_inactive.svg")
      no-repeat center center;
    &.active {
      background: url("../../assets/images/indicators/recording_active.svg")
        no-repeat center center;
    }
  }
}
