@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "./variables.scss";

.bp3-button {
  &[class*="bp3-intent-"] {
    height: 38px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    color: $button-text-color;
    background-image: none;
    box-shadow: none;
    outline: none;
    border: none;

    &:not(.bp3-fill) {
      width: 150px;

      &.bp3-small {
        width: 82px;
      }
      &.bp3-large {
        width: 224px;
      }
    }

    &.bp3-small {
      height: 24px;
    }

    &:hover,
    &:active,
    &.bp3-active {
      box-shadow: none;
    }

    &:disabled,
    &.bp3-disabled {
      background-image: none;
      pointer-events: all;
      box-shadow: none;
    }
  }

  &.bp3-intent-primary {
    background-color: $button-intent-primary;
    &:hover {
      background-color: $button-intent-primary-hover;
    }
    &:active,
    &.bp3-active {
      background-color: $button-intent-primary-active;
    }
    &:disabled,
    &.bp3-disabled {
      background-color: $button-intent-primary-disabled;
    }
  }

  &.bp3-intent-success {
    background-color: $button-intent-success;
    &:hover {
      background-color: $button-intent-success-hover;
    }
    &:active,
    &.bp3-active {
      background-color: $button-intent-success-active;
    }
    &:disabled,
    &.bp3-disabled {
      background-color: $button-intent-success-disabled;
    }
  }

  &.bp3-intent-danger {
    background-color: $button-intent-danger;
    &:hover {
      background-color: $button-intent-danger-hover;
    }
    &:active,
    &.bp3-active {
      background-color: $button-intent-danger-active;
    }
    &:disabled,
    &.bp3-disabled {
      background-color: $button-intent-danger-disabled;
    }
  }

  &.bp3-intent-secondary,
  &.bp3-outlined {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color: $button-text-color;
    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
      background-color: rgba(0, 0, 0, 0.5);
    }
    &:active,
    &.bp3-active {
      border: 1px solid rgba(255, 255, 255, 1);
      background-color: transparent;
    }
    &:disabled,
    &.bp3-disabled {
      border: 1px solid rgba(255, 255, 255, 1);
      background-color: transparent;
      color: $button-text-color;
      opacity: 0.5;
    }
  }

  &.bp3-intent-share {
    background-color: $button-intent-share;
    color: $button-text-color;
    &:hover {
      background-color: $button-intent-share-hover;
    }
    &:active,
    &.bp3-active {
      background-color: $button-intent-share-active;
    }
    &:disabled,
    &.bp3-disabled {
      background-color: $button-intent-share-disabled;
      color: $button-text-color;
    }
  }
}

.bp3-control {
  &.bp3-checkbox {
    .bp3-control-indicator {
      width: 16px;
      height: 16px;
      border-radius: 2px;
      box-shadow: none;
      outline: none;
    }
    input:checked ~ .bp3-control-indicator {
      border-radius: 3px;
      box-shadow: none;
      outline: none;
      border: none;
      &:hover,
      &:active {
        box-shadow: none;
        outline: none;
        border: none;
      }
      &::before {
        outline: none;
      }
    }
    input:not(:disabled):active:checked ~ .bp3-control-indicator {
      background: white;
      box-shadow: none;
      outline: none;
      border: none;
    }
    input:active ~ .bp3-control-indicator {
      background: white;
      box-shadow: none;
      outline: none;
    }

    &.bp3-intent-primary {
      .bp3-control-indicator {
        background: white;
        border: 2px solid $checkbox-intent-primary;
        outline: none;
      }
      input:checked ~ .bp3-control-indicator {
        background: white;
        &::before {
          mask-image: url(../assets/images/buttons/checked-white-fill.svg);
          background: $checkbox-intent-primary;
        }
      }
    }

    &.bp3-intent-success {
      .bp3-control-indicator {
        background: white;
        border: 2px solid $checkbox-intent-success;
        outline: none;
      }
      input:checked ~ .bp3-control-indicator {
        background: white;
        &::before {
          mask-image: url(../assets/images/buttons/checked-white-fill.svg);
          background: $checkbox-intent-success;
        }
      }
    }

    &.bp3-intent-white {
      color: white;
      .bp3-control-indicator {
        background: transparent;
        border: 2px solid $checkbox-intent-white;
        outline: none;
      }
      input:checked ~ .bp3-control-indicator {
        background: transparent;
        &:hover,
        &:active {
          background: transparent;
        }
        &::before {
          mask-image: url(../assets/images/buttons/checked-white-fill.svg);
          background: $checkbox-intent-white;
        }
      }
      input:not(:disabled):active:checked ~ .bp3-control-indicator {
        background: transparent;
      }
      input:active ~ .bp3-control-indicator {
        background: transparent;
      }
    }

    &.bp3-disabled {
      opacity: 0.5;
    }
  }
}

.bp3-popover {
  &.bp3-tooltip {
    .bp3-popover-content {
      font-size: 15px;
      line-height: 15px;
      color: #3c3c3c;
      background: #e7e7e7;
    }
    .bp3-popover-arrow-border,
    .bp3-popover-arrow-fill {
      fill: #e7e7e7;
    }
    &.bp3-intent-text {
      .bp3-popover-arrow-fill {
        fill: #cdcdcd;
      }
      .bp3-popover-content {
        background-color: #cdcdcd;
        color: #464646;
      }
    }

    &.bp3-intent-menu {
      .bp3-popover-arrow-fill {
        fill: #5a5a5a;
      }
      .bp3-popover-content {
        background-color: #5a5a5a;
        color: #f5f8fa;
      }
    }

    &.bp3-intent-call {
      .bp3-popover-arrow-fill {
        fill: #1f3c59;
      }
      .bp3-popover-content {
        background-color: #1f3c59;
        color: #f5f8fa;
      }
    }

    &.bp3-intent-call-menu {
      .bp3-popover-arrow-fill {
        fill: #3d5878;
      }
      .bp3-popover-content {
        background-color: #3d5878;
        color: #f5f8fa;
      }
    }
  }
}

.bp3-select-list {
  .bp3-popover-target {
    display: flex;

    .bp3-button {
      height: 26px;
      -webkit-tap-highlight-color: transparent;
      background-color: #fbfbfb;
      border: solid 1px #e8e8e8;
      border-radius: 3px;
      outline: none;

      .bp3-button-text {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.bp3-spinner {
  &.bp3-intent-primary {
    .bp3-spinner-head {
      stroke: $intent-primary;
    }
    .bp3-spinner-track {
      stroke: rgba($color: $intent-primary, $alpha: 0.2);
    }
  }
  &.bp3-intent-success {
    .bp3-spinner-head {
      stroke: $intent-success;
    }
    .bp3-spinner-track {
      stroke: rgba($color: $intent-success, $alpha: 0.2);
    }
  }
  &.bp3-intent-white {
    .bp3-spinner-head {
      stroke: white;
    }
    .bp3-spinner-track {
      stroke: rgba($color: white, $alpha: 0.2);
    }
  }
}

.bp3-alert.bp3-dialog {
  width: 370px;
  @media screen and (max-width: 400px) {
    width: 335px;
  }
  min-height: 200px;
  color: #666;
  background: $alert-backround;
  .bp3-alert-footer {
    flex-direction: row;
    justify-content: center;
    .bp3-button {
      display: inline-block;
      vertical-align: middle;
      margin: 8px 5px;
      background-color: $button-intent-alert-confirm;
      padding: 12px 8px;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      min-width: 120px;
      background-image: none;
      text-align: center;
    }
    .bp3-intent-danger {
      background-color: #d40e00;
    }
  }
}

// Call moderation popups
.bp3-dialog-container .bp3-alert.cm-popup {
  max-width: 400px;
  width: 400px;
  min-height: 170px;

  @media screen and (max-width: 420px) {
    max-width: calc(100% - 30px);
  }

  .bp3-alert-footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 10px 0px;
  }

  .message-content {
    font-size: 17px;
  }

  .bp3-button {
    max-width: 240px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 19px;
    word-wrap: break-word;
    height: auto;
    flex: 1 0 0;
    white-space: nowrap;
    width: auto;
  }
}

.bp3-dialog-container .bp3-alert.cm-popup--center {
  .message-content {
    text-align: center;
  }
}
