.render-container .end-share-button {
  position: absolute;
  bottom: 60px;
  right: 15px;
  z-index: 2;

  .bp3-button.bp3-intent-danger {
    border-radius: 0px;
    font-size: 16px;
    width: 190px;
  }
}
