.toggle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:focus {
    outline: none;
  }
  &.speaker {
    background-image: url("../../assets/images/buttons/icon_speaker.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    &[data-on="false"] {
      background-image: url("../../assets/images/buttons/icon_speaker_inactive.svg");
    }
    &[disabled] {
      background-image: url("../../assets/images/buttons/icon_speaker_disabled.svg");
    }
  }
  &.camera {
    background-image: url("../../assets/images/buttons/icon_camera.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    &[data-on="false"] {
      background-image: url("../../assets/images/buttons/icon_camera_inactive.svg");
    }
    &[disabled] {
      background-image: url("../../assets/images/buttons/icon_camera_disabled.svg");
    }
  }
  &.microphone {
    background-image: url("../../assets/images/buttons/icon_microphone.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px 36px;
    &[data-on="false"] {
      background-image: url("../../assets/images/buttons/icon_microphone_inactive.svg");
      icon-microphone-energy-level {
        display: none;
      }
    }
    &[disabled] {
      background-image: url("../../assets/images/buttons/icon_microphone_disabled.svg");
      icon-microphone-energy-level {
        display: none;
      }
    }
  }

  &.inactive {
    cursor: not-allowed;
  }
}

.device-tooltip {
  .bp3-transition-container {
    padding-left: 5px;
    .bp3-popover {
      max-width: 273px;
      .bp3-popover-content {
        background: #cdcdcd;
      }
      .bp3-popover-arrow-border {
        fill: #cdcdcd;
      }
      .bp3-popover-arrow-fill {
        fill: #cdcdcd;
      }
      .bp3-popover-content {
        font-size: 14px;
        line-height: 18px;
      }
      .bp3-popover-arrow {
        svg {
          top: -1px;
          position: relative;
        }
      }
    }
  }
}
